{% extends 'base.html' %}

{% block head %}
{% load static %}
<link href="{% static 'comets/css/home.css' %}" rel="stylesheet" type="text/css">
{% endblock head %}

{% block content %}
<section id="home-section">
    <div class="flex flex-column items-center">
        <div class="home-question">
    
            <h1>Is the comet coming ?</h1>
    
            {% if the_end %}
            <p class="the-end">Yes, good luck !</p>
            {% else %}
            <p class="no-end">No, not today.</p>
            {% endif %}
    
            <a href="{% url 'comets:lost' %}">
                {% if the_end %}
                What to do ?
                {% else %}
                Lost
                {% endif %}
            </a>
    
        </div>

        <div class="panel investigate-panel">
            <div class="panel-body">
    
                <h4>Investigate</h4>

                {% include 'comets/search_form.html' with form=search_form only %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}